.small-piechart{
    max-width: 40%;
    max-height: 40%;
    justify-content: flex-end;
    float: right;
    text-align: right;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
  }