.nav-link-custom {
    /* Add your custom styles here */
    color: #333;
    font-weight: bold;
    margin-right: 50px;
    text-decoration: none;
  }
  
  .nav-link-custom.active {
    /* Add your custom styles for the active link here */
    color: #ff0000;
  }

  #first-link {
    margin-left: 30px;
  }